*{
    margin:0px;
    padding:0px;
    text-align: center;
}

h1{
    background-color: rgb(22, 22, 57);
    color:white;
    text-align: center;
    line-height: 5rem;
    height:5rem;
    
}
.choice{
    display:flex;
    height:165px;
    width:165px;
    border-radius:50%;
     justify-content: center;
    align-items: center; 
}
img{
    height:150px;
    width:150px;
    object-fit: cover;
    border-radius: 50%;
}
.choice:hover{
  cursor:pointer;
  opacity: 75%;
}

.choices{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
    margin-top: 5rem;
}

.score-game{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:2rem;
    gap:5rem;
    margin-top:3rem;
}
.userscore,
.computerscore{
font-size:4rem;
}

.mssge{
    margin-top: 5rem;
}
.msg{
    background-color:  rgb(22, 22, 57);
    color:white;
    font-size: 2rem;
    display:inline;
    padding:1rem;
    border-radius:1rem;
}